body {
    margin: 0;
}

.nav {
    background-color: black;
    height: 60px;
}

.logo {
    padding: 10px;
    height: 40px;
}


ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
}

ul li {
    display: inline;
}

a {
    display: inline-block;
    padding: 20px;
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: red;
}
